.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #d8d4ca 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu-list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.menu-left {
  padding-left: 25px;
}

.menu-right {
  padding-right: 80px;
}

.menu-link {
  color: $black-title;
  font-size: 16px;
}
