<footer class="footer">
  <div class="container">
    <h3 class="footer__title">Контакты</h3>
    <div class="footer__top">
      <ul class="footer__info">
        <li class="footer__info-item">
          <dl>
            <dt>ОБЩИЕ</dt>
            <dd><a href="tel:+351282405600">+(351) 282 405 600</a></dd>
            <dd><a href="tel:+351282405697">+(351) 282 405 697</a></dd>
            <dd>
              <a href="mailto:info@autodromodoalgarve.com"
                >info@autodromodoalgarve.com</a
              >
            </dd>
          </dl>
        </li>
        <li class="footer__info-item">
          <dl>
            <dt>БИЛЕТЫ</dt>
            <dd><a href="tel:+351282405600">+(351) 282 405 600</a></dd>
            <dd>
              <a href="mailto:tickets@autodromodoalgarve.com"
                >tickets@autodromodoalgarve.com</a
              >
            </dd>
          </dl>
        </li>
        <li class="footer__info-item">
          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <img
                  class="social-list__icon"
                  src="img/footer/youtube.svg"
                  alt=""
                />
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <img
                  class="social-list__icon"
                  src="img/footer/instagram.svg"
                  alt=""
                />
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__link" href="#">
                <img
                  class="social-list__icon"
                  src="img/footer/facebook.svg"
                  alt=""
                />
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <div class="footer__address">
        <p class="footer__address-title">АДРЕС</p>
        <address class="footer__address-text">
          Sitio do Escampadinho, Mexilhoeira Grande, 8500-148 Portimao, Portugal
        </address>
        <div id="map"></div>
      </div>
    </div>
    <div class="footer__bottom">
      <a class="footer__bottom-link" href="#">Design by Varvara Prokopchuk</a>
      <a class="footer__logo" href="#">
        <img
          class="footer__logo-img"
          src="img/footer/logo-footer.svg"
          alt="logo"
        />
      </a>
      <a class="footer__bottom-link" href="#">Политика конфиденциальности</a>
    </div>
  </div>
</footer>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD7PQZORTUDS4Vulaotw794D7csZvyZbs&callback=initMap&v=weekly"
  defer
></script>
