<section class="promo">
    <div class="big-container">
        <div class="promo__inner">
            <h1 class="title">LAMBORGHINI SUPER TROFEO</h1>
            <h2 class="subtitle">
                Гранд-финал 2022
                <span>3-6 ноября</span>
            </h2>
            <p class="promo__text">автодром Портимао,Португалия</p>
            <a class="promo__arrow" href="#">
                <img src="img/header/arrow.svg" alt="#" />
            </a>
        </div>
    </div>
</section>
